html,body {
	overflow:hidden;
	height:100%
}
body {
	position:relative
}
.coffer-container {
	width:100%;
	overflow:hidden
}
.header {
	position:absolute;
	top:0;
	width:100%
}
.sub-nav {
	position:absolute;
	width:100%;
}
.stage {
	position:relative;
	-webkit-transition:all 1s ease-out;
	-moz-transition:all 1s ease-out;
	-ms-transition:all 1s ease-out;
	transition:all 1s ease-out
}
.stage-01 img {
	padding-top:230px;
	width:100%;
}
.stage-02 img {
	padding-top:95px;
	width:100%;
}
.stage-03 img {
	padding-top:70px;
	width:100%;
}
.stage-04 img {
	padding-top:72px;
	width:100%;
	padding-top:93px\9;
}
.right-slider {
	width:60px;
	height:260px;
	position:fixed;
	right:20px;
	top:50%;
	margin-top:-110px;
	z-index:1000;
}
.right-slider ul {
	width:14px;
	margin-left:23px
}
.right-slider ul li {
	width:14px;
	height:14px;
	margin-top:10px;
	background-image:url(../image/yuan.png);
	cursor:pointer
}
.right-slider ul li.current {
	background-image:url(../image/yuan-hover.png);
}
.right-slider .ercode-holder .ercode {
	width:38px;
	height:38px;
	background-image:url(../image/erweima.png) no-repeat;
	position:absolute;
	right:40px;
	top:-60px;
	display:none
}
.right-slider a.ercode-holder{
   width:38px;
   height:38px;
   background:url(../image/erweima.png) no-repeat;
   position:relative;
   margin-left:10px;
   margin-top:30px;
   cursor:pointer;
   display:block
}
.right-slider .ercode-holder .ercode{
  width:156px;
  height:179px;
  background:url(../image/erweima-hover.png) no-repeat;
  position:absolute;
  right:40px;
  top:-47px;
  display:none
}
.right-slider a.back-top {
	width:38px;
	height:38px;
	background:url(../image/back.png) no-repeat;
	margin-left:10px;
	margin-top:10px;
	cursor:pointer;
	display:none;
	display:block;
	opacity:0;
	filter:alpha(opacity=0)
}
.right-slider a.back-top:hover {
	background:url(../image/back-hover.png) no-repeat;
}
