<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>账户设置</title>
<link href="../css/reset.css" rel="stylesheet"/>
<link href="../css/index.css" rel="stylesheet"/>
<link href="../css/zhanghu.css" rel="stylesheet" />
<script src="../js/jquery.js" type="text/javascript"></script>
<script src="../js/zhanghu.js" type="text/javascript"></script>
<script src="../js/index.js" type="text/javascript"></script>

</head>
<body>
<div th:include="daohang :: copy"></div>
<!--网站框架-->
   <div class="mest_con">
       <div class="main">
      <div th:include="zzhanghu :: zhanghu"></div>
      <div class="main_right fl">
         <div class="shezhi_1" id="top">
     <div class="shezhi_title">
         <h2>账户设置</h2>
         <input type="hidden" id="username" th:value="${invetor.username}"/>
         <script type="text/javascript">
             var usernam=document.getElementById("username");
             alert(usernam.substring(0));
         </script>
         <ul class="fl" style="margin-right:100px;">
             <li>实名认证：<span th:text="${invetor.username}"></span ></li>
             <li>身份证号：<span th:text="${invetor.idcard}"></span></li>
             <li>手机认证：<span  th:text="${invetor.phone}"></span>[<a th:href="@{shoujixiugai}">更换手机</a>]</li>
         </ul>
         <ul class="fl">
             <li>邮箱绑定：<span th:text="${invetor.email}"></span></li>
             <li>登录密码修改：<span>[<a href="#">未设置</a>]<a th:href="@{zhanghu/mimaxiugai}" class="sz_password">修改密码</a></span></li>
             <li>绑定乾多多：<span>已绑定</span></li>
          </ul>
          <div class="clear"></div>
           <p class="qianduo"><span>乾多多授权：</span>[<a href="#">点击授权</a>]</p>
     </div>
  </div>
      </div>
      <div class="clear"></div>
   </div>
   </div>
<!--底部-->
   <div class="footer">
	   <div class="main">
	    <div class="info">
		  <ul>
			<li>
				<span>友情链接：</span>
				<a href="">和君咨询</a>
				<a href="">乾多多</a>
				<a href="">网贷之家</a>
				<a href="">微财富</a>
				<a href="">网贷世界</a>
				<a href="">网贷大本营</a>
				<a href="">网贷前沿</a>
				<a href="">网贷导航</a>
			</li>
		  </ul>
		</div>
	    <div class="link">
		   <div class="link_l">
		       <ul>
			   	  <li>联系我们 &nbsp;<span>400-88888888</span> &nbsp;<em>9:00-22:00</em></li>
			   	  <li><img src="../image/link5.jpg" alt="" />京ICP备 14031237</li>
			   </ul>
		   </div>
		   <div class="link_r">
		      <dl>
			   	  <dt><img src="../image/sina-erweima.jpg" alt="" /></dt>
			      <dd><a class="weima_1"><img src="../image/sina1.jpg" alt="" /></a></dd>
			   </dl>
			   <dl>
			   	  <dt><img src="../image/weixin-erweima.jpg" alt="" /></dt>
			      <dd class="weima">
                    <a class="weima_2"><img src="../image/weixin1.jpg" alt="" /></a>
                    
                  </dd>
			   </dl>
		   </div>	   
		 </div>
		 
         <div class="renzheng">
		   <p>
		   	 <a href=""><img src="../image/link1.jpg" alt="" /></a>
		   	 <a href=""><img src="../image/link2.jpg" alt="" /></a>
		   	 <a href=""><img src="../image/link3.jpg" alt="" /></a>
		   	 <a href=""><img src="../image/link4.jpg" alt="" /></a>
		   </p>
		 </div>
	   </div>
	 </div>
<div class="erweima"> 
   <div class="sao">
      <img src="../image/erweima-hover.png" />
    </div>
<div class="sao1">
      <img src="../image/erweima-hover.png" />
    </div>
</div>
</body>
</html>
